<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qt.quicksdk.quicksdklib">

    <!--//允许程序获取任务信息-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--//允许程序写入外部存储,如SD卡上写文件-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--//允许程序获取当前WiFi接入的状态以及WLAN热点的信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--//允许程序获取网络信息状态，如当前的网络连接是否有效-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--//允许程序访问电话状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--//允许程序显示系统窗口-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name="com.ledi.sdk.SdkWeb"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="web" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ledi.activity_393.QuickDialog"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.xiayiyingxiong.mi.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <meta-data
            android:name="notch.config"
            android:value="landscape" />
        <!-- 上线时需要改成true，测试时为false -->
        <meta-data
            android:name="huaweippsflag"
            android:value="true" />
        <meta-data
            android:name="Dialog_boxid"
            android:value="A46DA88F66B58AC9" />
    </application>
</manifest>
